@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #76ABAE;
    margin: auto 0;
}


header {
    background-color: #31363F;
    padding: 25px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.btn {
    background-color: transparent;
    text-decoration: none;
    color: #F2EFE5;
    font-size: 16px;
    transition: color 0.3s ease;
    border: none;
}

.btn:hover {
    color: #13D9DF;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    border-radius: 5px;
    z-index: 3;
    margin-left: 20px;
}

.nav-items {
    display: flex;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #F2EFE5;
    font-size: 16px;
    transition: color 0.3s ease;
    border-bottom: 6px solid transparent;
    padding-bottom: 10px;
}

nav ul li a:hover {
    color: #13D9DF;
    border-bottom: 6px solid #13D9DF;
}

.dropbtn {
    background-color: transparent;
    color: #F2EFE5;
    font-size: 16px;
    transition: color 0.3s ease;
    border: none;
}

.dropbtn:hover {
    color: #13D9DF;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #31363F;
    min-width: 200px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button,
.dropdown-content a {
    color: #F2EFE5;
    text-decoration: none;
    padding: 12px 16px;
    transition: background-color 0.3s ease;
}

.dropdown-content a {
    display: block;
}

.dropdown-content button:hover,
.dropdown-content a:hover {
    background-color: #31363F;
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info div {
    margin-bottom: 10px;
}

.vid-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.vid {
    width: 80%;
    height: 80%;
}

.vid iframe {
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

nav button {
    text-decoration: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 6px solid transparent;
    cursor: pointer;
    padding-bottom: 9px;
}

nav button:hover {
    color: #13D9DF;
    border-bottom: 6px solid #13D9DF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #C7C8CC;
    color: black;
}

tr {
    background-color: #C7C8CC;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #e2e2e2;
}

.notify {
    position: fixed;
    top: 80%;
    right: 0;
    transform: translateX(0);
    background-color: #31363F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: top 0.5s ease;
    z-index: 9999;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.task-form {
    text-align: center;
    margin-top: 20px;
}

.task-form input[type="number"] {
    width: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.submit-btn {
    background-color: #31363F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #13D9DF;
}

.cancel-btn {
    background-color: #31363F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #13D9DF;
}

/* CSS for dropdown menu */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 10%;
    box-sizing: border-box;
    background-color: #fff;
}

/* Style for options */
option {
    text-align:center;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}