@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #DFF5FF;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

main {
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #67C6E3;
  text-align: center;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content:end;
  font-weight: 800;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  margin-top: 20px;
  padding-bottom: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #F6F6F6;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #F6F6F6;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #C7C8CC;
  color: black;
}

tr {
  background-color: #67C6E3;
}

tr:nth-child(even) {
  background-color: #DFF5FF;
}

tr:hover {
  background-color: #e2e2e2;
}

.notify {
  position: fixed;
  top: 80%;
  right: 0;
  transform: translateX(0);
  background-color: #31363F;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: top 0.5s ease;
  z-index: 9999;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.submit-btn {
  background-color: #31363F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #43D8C9;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.card {
  background: #378CE7;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(25% - 20px);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
}

th{
  background-color: #378CE7;
}

.l-submit-btn{
  background-color: #31363F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.r-submit-btn{
  background-color: #31363F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  margin-left: 92.3%;
}

.r-submit-btn:hover,
.l-submit-btn:hover {
  background-color: #43D8C9;
}