@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eef4f6;
    height: calc(100vh - 38px);
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

/* .container {
    width: 650px;
} */

.contact-form-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 30px;
}

.main {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    transition: transform 0.5s ease;
}

.card1 {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    transition: transform 0.5s ease;
}

header {
    background-color: #13D9DF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inform {
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #13D9DF;
    padding: 10px;
}

.foot{
    display: flex;
    justify-content: center;
    font-size: 12px;

}

.logo {
    color: #fff;
}

.navigation a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

.nav-link {
    /* margin-right: 20px; */
    text-decoration: none;
    padding-bottom: 6px; /*Space for the line */
    transition: border-bottom 0.1s;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.btnloginpopup {
    padding: 5px 10px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-left: 20px;
}

.btnloginpopup:hover {
    background-color: #fff;
    color: #13D9DF;
    border-color: #fff;
}

.cond {
    position: relative;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    transition: transform 0.5s ease;
}

.btn:hover{
    transform: translateY(-3px);
    transition: 0.3s ease;
}
/* .main:hover {
    transform: translateY(-5px);
} */

.content h2 {
    color: #333;
    margin-bottom: 20px;
}

.content ion-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.content input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: border-color 0.3s ease;
}

.content input:focus {
    border-color: #13D9DF;
}

.dropdown select {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: border-color 0.3s ease;
    background: url('arrow.png') no-repeat right;
    appearance: none;
    background-size: 20px;
    background-position-x: 95%;
    background-position-y: 45%;
}

.dropdown select:hover {
    border-color: #13D9DF;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #13d9df;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0ABAB5;
}


p a {
    color: #13D9DF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.notify {
    position: fixed;
    top: 100px;
    right: 0;
    transform: translateX(0);
    background-color: #074173;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: top 0.5s ease;
    z-index: 9999;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}